.privacyPolicySection {
  /* color: black; */
  padding: 4rem;
}

.title {
  font-size: 25px;
  font-weight: 400;
  font-family: "made_mirage_bold";
  margin: 3rem 0 0 0;
}

.description {
  font-size: 18px;
  line-height: 1.625;
  margin: 1.5rem 0;
}
.ListDescription{
  list-style-type: disc;
  padding-left: 20px;
}
.spancontact{
  font-size: 18px;
  line-height: 1.625;
  font-family: "made_mirage_bold";
}

@media (max-width: 768px) {
  .privacyPolicySection {
    padding: 2rem;
    
  }
}

@media (max-width: 480px) {
  .privacyPolicySection {
    padding: 1rem;
  }
}
