.ContactUsmainBanner {
  .ContactUsHearBanner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 100px 0;
    .ContactUsHearText {
      font-size: 30px;
      text-align: center;
    }
    .ContactUsHearTextInner {
      font-size: 50px;
      text-align: center;
      @media(max-width: 575px){
        font-size: 40px;
      }
    }
    .ContactUsHearTextOne {
      font-size: 30px;
      text-align: center;
      @media(max-width: 575px){
        font-size: 25px;
      }
    }
  }
  .ContactUsEmailFlex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0px 200px 100px;
    @media (max-width: 1300px) {
      padding: 0 100px 90px;
    }
    @media (max-width: 1024px) {
      padding: 0 50px 90px;
    }
    @media (max-width: 991px) {
      // flex-direction: column;
      gap: 2rem;
    }
    @media (max-width: 768px) {
      flex-direction: column;
      padding: 0 40px 50px;
    }
    @media (max-width: 475px) {
      padding: 0 20px 50px;
    }
    .ContactUsEmail {
      color: #5b3524;
      font-size: 20px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;
      margin-bottom: auto;
    }
    .ContactusAddress{
      text-align: center;
    }
    .BoldTextInner {
      font-family: "made_mirage_bold";
      font-size: 25px;
    }
    .ContactUsEmail svg {
      width: 50px;
      height: 50px;
      fill: #5b3524;
    }
    .ContactUsEmail a {
      color: #5b3524;
    }
  }
  .MapFrame {
    width: 100%;
    height: 90vh;
    @media (max-width: 575px) {
      height: 50vh;
    }
  }
}
