.Twocards-container {
    display: flex;
    // flex-wrap: wrap;
    justify-content: space-between;
    gap: 3rem;
    @media(max-width: 768px){
      flex-direction: column;
    }
  }
  
  .Twocard {
    background-color: #FFF5ED;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 100%;
    flex: 1 1 calc(50% - 1rem);
    display: flex;
    flex-direction: column;
    
    .Twocard-image {
      width: 100%;
      height: auto;
      object-fit: cover;
      display: block;
    }
  
    .Twocard-content {
      padding: 1.5rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-grow: 1;
      @media(max-width: 575px){
        padding: 1rem;
      }
      
      
      .Twocard-title {
        font-size: 30px;
        margin: 0 0 0.5rem;
        font-weight: 400;
        // color: black;
      }
  
      .Twocard-description {
        font-family: "futura_thin";
        flex-grow: 1;
        margin-bottom: 1rem;
        // color: black;
        font-weight: 100;
        width: 70%;
        font-size: 22px;
        @media(max-width: 768px){
          width: 100%;
        }
      }
  
      .Twocard-link {
        // color: black;
        color: #5B3524;
        text-decoration: none;
        margin-top: auto;
        font-size: 28px;
        transition: all 0.3s ease;
        &:hover{
            color: white;
        }
      }
    }
  }
  
  @media (max-width: 768px) {
    .Twocard {
      flex: 1 1 100%;
    }
  }
  