.nav {
  overflow: hidden;
}
.new_nav {
  height: 100vh;
  position: fixed;
  left: 0;
  z-index: 99999;
  background-color:black;
  top: 0;
  padding: 100px 0 0;
  width: 100%;
}
.new_nav .wrapper {
  display: flex;
  gap: 20px;
  margin-bottom: 80px;
  padding: 0 20px;
}

.container_navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media only screen and (min-width: 1000px) {
  .nav_image {
    margin-top: 2rem;
  }
  .wrapper {
    margin-bottom: 0px;
    justify-content: space-between;
  }
}
