$bg:#FFEEE2;
$white: #5B3524;
$white2:rgba(255, 255, 255, 0.8);
$black: #000;
$black1:rgba(28, 33, 30, 1);
$skin:#FEFAE0;
$font15:15px;
$font55:55px;
$weightLight:300;
$weightRegular:400;
$weightMedium:500;
$weightSemiBold:600;
$weightBold:700;

