.privacyPolicySection {
  /* color: black; */
  padding: 4rem;
}

.title {
  font-size: 25px;
  font-weight: 400;
  font-family: "made_mirage_bold";
  margin: 3rem 0 0 0;
}
.Preafce{
  padding-top: 1rem;
}

.description {
  font-size: 18px;
  line-height: 1.625;
  margin: 1.5rem 0;
}
/* .descriptionFirst {
  font-size: 18px;
  line-height: 1.625;
  margin: 1.5rem 0;
} */
.descriptionFirst p {
  font-size: 18px;
  line-height: 1.625;
  margin: 1rem 0;
  /* padding-bottom: 10px; */
}
.liststyles{
  list-style-type: disc;
  padding-left: 20px;
}
.ListAddress p{
  font-size: 18px;
  line-height: 1.625;
  margin: 0rem 0;
}
.Alphabet{
  list-style-type: lower-alpha;
  font-size: 18px;
  margin-left: 20px;
}

@media (max-width: 768px) {
  .privacyPolicySection {
    padding: 2rem;
  }
}

@media (max-width: 480px) {
  .privacyPolicySection {
    padding: 1rem;
  }
  .liststyles{
    padding-left: 20px;
  }
  .ListAddress p{
    font-size: 18px;
    line-height: 1.625;
    margin: 0rem 0;
  }
  .Alphabet{
    margin-left: 0px;
  }
}
