.PrivacyMainHeader {
  .PrivacyMainHeaderInner {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .ClaimBannerImg {
  }
  .PrivacyMainHeaderInnerText {
  
    .PrivacyMainHeaderInnerTextinner {
      text-align: center;
      font-size: 60px;
      font-weight: 500;
      @media (max-width: 575px) {
        font-size: 40px;
        
        padding: 0 10px;
      }
    }
    .TextCommitInner {
      font-family: "futura_thin";
      p {
        text-align: center;
        margin: 0 auto;
        font-size: 40px;
        font-weight: 500;
        width: 70%;
        margin-top: 10px;
        @media (max-width: 575px) {
          font-size: 18px;
          width: 100%;
          padding: 0 10px;
        }
      }
    }
  }
}
